<!-- Exercise 1: Configuring a Basic Spring Application -->
<!-- Exercise 5: Configuring the Spring IoC Container -->
<!-- Exercise 6: Configuring Beans with Annotations -->
<!-- Exercise 8: Implementing Basic AOP with Spring -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable AspectJ auto-proxying -->
    <aop:aspectj-autoproxy/>

    <!-- Enable component scanning -->
    <context:component-scan base-package="com.library"/>

    <!-- Define beans for BookService and BookRepository -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Register the LoggingAspect -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>
</beans>
